*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: white;
    border-radius: 10px 10px;
}


/*Logo Pagina*/

.logop{
    width: 70px;
    height: 70px;
    vertical-align: middle;
}

.titolo-pagina{
    display: inline-block;
    vertical-align: middle;
}

.container{
    height: 70px;
    line-height: 70px;
    border: 1px white;

}

/*Corpo pagina*/

.testo-pagina{
    width: 1000px;
    margin: auto;
    border-radius: 10px 10px;
}

.contenitore{
    padding:3%;
}

/*Bottoni top to do list*/

.rettangoloblu{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    background-color: rgb(70, 70, 255);
    border-radius: 5px 5px;
    display: inline-block;
}


/*Check*/
.check{
    color: green;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    border-radius: 50%;
    border-color: green;
    border: 2px solid green;
    margin-right:5px;
    font-size: small;
    position: relative;
}

.cross{
    color: red;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    border-radius: 50%;
    border-color: red;
    border: 2px solid red;
    margin-right:5px;
    font-size: small;
    position: relative;
}

/*Contenitori di fianco alle frasi*/
.contenitore-blu{
    width: 110px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: white;
    background-color: rgb(70, 70, 255);
    border-radius: 10px 10px;
    font-size: small;
    margin-left: 5px;
    padding: 5px;
}

.contenitore-violetto{
    width: 110px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: blueviolet;
    border-radius: 10px 10px;
    color: white;
    font-size: small;
    margin-left: 5px;
    padding: 5px;
}

.contenitore-verde{
    width: 110px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: rgb(2, 152, 89);
    border-radius: 10px 10px;
    color: white;
    font-size: small;
    margin-left: 5px;
    padding: 5px;
}

.contenitore-arancione{
    width: 110px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: orange;
    border-radius: 10px 10px;
    color: white;
    font-size: small;
    margin-left: 5px;
    padding: 5px;
}

.contenitore-rosa{
    width: 110px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: rgb(255, 60, 93);
    border-radius: 10px 10px;
    color: white;
    font-size: small;
    margin-left: 5px;
    padding: 5px;
}

.contenitore-olive{
    width: 110px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: olive;
    border-radius: 10px 10px;
    color: white;
    font-size: small;
    margin-left: 5px;
    padding: 5px;
}